<!-- templates/home.html -->
<html><head>

<style>
    .column {
  float: left;
  width: 60%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>
    <div style="width:100%; height:50px; padding:15px; background-color:#33bbff; color: white;text-align: center;"><H4>SMART SURVEILLANCE ROBOT DASHBOARD</H4></div>

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
<div class=""row">
    <div class="column">
    {% include "index.html" %}
    </div>

    <div class="">
     {% include "mqtt-dashboard.html" %}
    </div>
    </div>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}
</body>
</html>
