<!DOCTYPE html>
<html>
    <head>
        <title>Events Dashboard</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>

function fetchdata(){
    $('.sensor-message-box').empty();
    $.ajax({
        url: "https://nnw62vov2m.execute-api.us-west-2.amazonaws.com/stage?TableName=surveillance_bot_sensor_messages"
    }).then(function(data) {
	    console.log(data)
       $.each(data.Items, function(key, value) {
	       console.log(key)
	       console.log(value)
	       var myDate = new Date(value.payload.timestamp*1000);
	       var time_str = myDate.toLocaleString()
	   var message = time_str  + " : " + value.Row + "</br>"
	   $('.sensor-message-box').append(message );
    });
    })
	
	 $('.rekognition-message-box').empty();
    $.ajax({
        url: "https://nnw62vov2m.execute-api.us-west-2.amazonaws.com/stage?TableName=aws_rekognition_table"
    }).then(function(data) {
	    console.log(data)
       $.each(data.Items, function(key, value) {
	       console.log(key)
	       console.log(value)
	   $('.rekognition-message-box').append(value.message);
    });
    })
}

$(document).ready(function(){
 setInterval(fetchdata,5000);
});

</script>
    </head>

    <body>
        <div>
		<h5 style="background-color:#33bbff">Robot Notifications</h5>
            <p class="sensor-message-box"></p>
        </div>
	 <div>
		 <h5 style="background-color:#33bbff">Intruder Detection</h5>
            <p class="rekognition-message-box"></p>
        </div>
    </body>
</html>
